<!-- Box -->
<div class="box">
    <div id="topstory-img"><img src="/images/icons/contact.png" alt="Contact - illustrative image" /></div>
    <div id="topstory-txtimg">

        <p class="nomb justify">Za každou zpětnou vazbu budeme velice rádi. Portál je v&#160;neustálém vývoji, a&#160;proto nic není definitivní&#160;&#8211; cokoliv se ještě může změnit, stejně tak nám můžete pomoci (či jen poradit) vy, abychom něco změnili! Uvítáme váš názor, váš pohled na náš web i na IPv6 celkově.</p>
	<p class="nomb justify">V&#160;tuto chvíli nás můžete kontaktovat dvěma cestami. Buď nám můžete napsat e-mail, případně se můžete připojit na náš IRC kanál (a to jak po IPv6, tak po IPv4), kde s&#160;námi můžete otevřeně diskutovat.</p>
	<p class="nomb">
	    <strong>E-mail:</strong> <%= link_to 'info&#64;<!---->ipv6portal.cz', 'mailto:info&#64;ipv6portal.cz' %><br />
	    <strong>IRC po IPv6:</strong> <em>#ipv6portal</em> na <em>ipv6.chat.freenode.net</em><br />
	    <strong>IRC po IPv4:</strong> <em>#ipv6portal</em> na <em>irc.freenode.net</em>
	</p>

    </div> <!-- /topstory-txt -->

</div> <!-- /box -->
