<!-- Box -->
<div class="box">
    <div id="topstory-img"><img src="/images/ipv6logo.png" alt="IPv6 logo" /></div>
    <div id="topstory-txtimg">

        <p class="nomb justify">IPv6 Portál.cz je zřejmě vůbec první český web svého druhu&#160;&#8211; zaměřený především na propagaci a podporu síťového protokolu nové generace&#160;&#8211; IPv6.</p>
	<p class="nomb justify">Tento portál byl založen z&#160;důvodu nedostatečného povědomí o&#160;této technologii, ale také protože bylo nesmírně obtížné najít konkrétní informace či návody, jelikož byly roztroušené naprosto všude, a navíc nebyly všechny v&#160;češtině&#160;&#8211; právě tyto mezery se snaží portál zaplnit. Cílem je ovšem též své čtenáře povzbudit a pomoci jim k&#160;snažšímu přechodu.</p>
	<p class="nomb justify">Nyní je portál teprve ve svých začátcích, a proto je jeho obsahová stránka poměrně chudá. V&#160;nejbližší době však implementujeme wiki systém, který tvorbu a sdílení hodnotného obsahu velmi usnadní. Zatím se můžeme pyšnit ojedinělou databází poskytovatelů internetových služeb s&#160;informacemi o jejich přístupu k technologii IPv6.</p>

    </div> <!-- /topstory-txt -->

</div> <!-- /box -->
