<!-- Box -->
<div class="box">
    <div id="topstory-img"><img src="/images/icons/database.png" alt="Database - illustrative image" /></div>
    <div id="topstory-txtimg">

        <p class="nomb">Lorem ipsum dolor sit amet, consectetuer adipiscing est elit.  Quisque fringilla. Aenean quam. Donec magna arcu, ornareit amet, gravida eget, elementum ut, sapien. Proin augue velita, at, vulputate ac, dignissim non, nunc. Pellentesque at lectus.  ante ipsum primis in faucibus orci luctus et ultrices.</p>

    </div> <!-- /topstory-txt -->

</div> <!-- /box -->
