<!-- Box -->
<div class="box">
    <div id="topstory-img"><img src="/images/icons/database.png" alt="Database - illustrative image" /></div>
    <div id="topstory-txtimg">

        <p class="nomb justify">Naše databáze shromažďuje informace o&#160;připravenosti a o&#160;přístupu různých poskytovatelů internetových služeb k&#160;protokolu IPv6. Jejím účelem je jednak ukázat veřejnosti fakt, že ne všichni ignorují stále se ztenčující zásobu volných IPv4 adres, ale že jsou i tací, co se snaží poskytovat služby na úrovni. Dále by měla pomoci všem firmám a lidem, kteří stále ještě váhají, zda technologii IPv6 nasadit či ne.</p>
        <p class="nomb justify">Tuto databázi spouštíme pouze se třemi kategoriemi&#160;&#8211; databází <abbr title="Poskytovatel připojení k Internetu">ISP</abbr>, serverhousingů a webhostingů. To však neznamená, že při tomto rozsahu zůstaneme. Ba naopak chceme tuto databázi rozšiřovat do co největšího rozsahu.</p>

    </div> <!-- /topstory-txt -->

</div> <!-- /box -->
