<!-- Box -->
<div class="box">
    <div id="topstory-txt">

	<p class="nomb">Dobrý den,<br />
	velmi se zajímám o Vámi poskytované služby serverhousingu, ovšem nejvíce je pro mě důležitá přítomnost IPv6 konektivity (a tedy i její dostupnost na umístěném serveru). Chtěl bych se proto zeptat, zda touto technologií disponujete (v tomto případě by mě zajímala velikost přidělovaného rozsahu adres) či zda alespoň plánujete její zavedení v brzké budoucnosti? Moc Vám děkuji za odpoveď.</p>
	 
	<p class="nomb">S pozdravem</p>
	  
	<p class="nomb"><em>VAŠE JMÉNO</em></p>

    </div> <!-- /topstory-txt -->

</div> <!-- /box -->
