<!-- Box -->
<div class="box">
    <div id="topstory-txt">

	<p class="nomb">Dobrý den,<br />
	velmi se zajímám o Vámi poskytované služby webhostingu, ovšem nejvíce je pro mě důležitá dostupnost mé webové prezentace (ale i dalších služeb, vč. e-mailu, FTP atd.) po IPv6. Chtěl bych se proto zeptat, zda touto technologií disponujete (v tomto případě by mě zajímala Vaše politika přidělování adres - je např. jedna společná adresa či má každá (sub)doména vlastní IP adresu?) či zda alespoň plánujete její zavedení v brzké budoucnosti? Předem děkuji za odpověď.</p>
	 
	<p class="nomb">S pozdravem</p>
	  
	<p class="nomb"><em>VAŠE JMÉNO</em></p>

    </div> <!-- /topstory-txt -->

</div> <!-- /box -->
