<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en" />
    <meta name="robots" content="all,follow" />

    <meta name="author" lang="en" content="All: Your name [www.url.com]; e-mail: info@url.com" />
    <meta name="copyright" lang="en" content="Webdesign: Nuvio [www.nuvio.cz]; e-mail: ahoj@nuvio.cz" />

    <meta name="description" content="..." />
    <meta name="keywords" content="..." />

    <link rel="stylesheet" media="screen,projection" type="text/css" href="css/reset.css" />
    <link rel="stylesheet" media="screen,projection" type="text/css" href="css/main.css" />
    <!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="css/main-msie.css" /><![endif]-->
    <link rel="stylesheet" media="screen,projection" type="text/css" href="css/style.css" />
    <link rel="stylesheet" media="print" type="text/css" href="css/print.css" />

    <title>Liquid</title>
</head>

<body>

<div id="main">

    <!-- Header -->
    <div id="header">
    
        <p id="logo"><img src="tmp/logo.gif" alt="" /></p>
        
        <div id="slogan">Place for your great slogan.</div>
    
    </div> <!-- /header -->
    
    <hr class="noscreen" />
    
    <!-- Navigation -->
    <div id="nav" class="box">
    
        <ul>
            <li class="active"><a href="#">Homepage</a></li>
            <li><a href="#">Category</a></li>
            <li><a href="#">Category</a></li>
            <li><a href="#">Category</a></li>
            <li><a href="#">Category</a></li>
            <li><a href="#">Category</a></li>
        </ul>
        
        <p id="feeds">
            <a href="#" class="ico-rss">Articles</a> &nbsp;&nbsp;&nbsp;
            <a href="#" class="ico-rss">Comments</a>
        </p> <!-- /feeds -->
    
    </div> <!-- /nav -->
    
    <hr class="noscreen" />
    
    <!-- Columns -->
    <div id="cols">
        <div id="cols-in" class="box">
    
            <!-- Content -->
            <div id="content">

                <div class="in">
                    <p id="breadcrumbs">You are here: <a href="#">Homepage</a> <span>/</span> <a href="#">Category</a> <span>/</span> <strong>Page</strong></p>
                </div>
                
                <h2 class="title-01">Place for your title</h2>
                
                <div class="in">
                
                    <!-- Topstory -->
                    <div class="box">
                        <div id="topstory-img"><img src="tmp/200x150.gif" alt="" /></div>
                        <div id="topstory-txt">
                        
                            <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                            
                            <p id="topstory-info">Published: <strong>15. 05. 2008</strong> &nbsp;&nbsp;&nbsp; <a href="#" class="comment">10 comments</a></p>
                            
                            <p class="nomb">Lorem ipsum dolor sit amet, consectetuer adipiscing est elit.
                            Quisque fringilla. Aenean quam. Donec magna arcu, ornareit
                            amet, gravida eget, elementum ut, sapien. Proin augue velita,
                            at, vulputate ac, dignissim non, nunc. Pellentesque at lectus.
                            ante ipsum primis in faucibus orci luctus et ultrices.</p>
                        
                        </div> <!-- /topstory-txt -->
                        
                    </div> <!-- /box -->

                    <!-- Older articles -->
                    <h4 class="title-02"><span>Older articles</span></h4>
                    
                    <div class="cols5050 box">

                        <!-- Left column -->
                        <div class="col">

                            <!-- Article -->
                            <div class="article box">
                                <div class="article-img"><img src="tmp/85x63.gif" alt="" /></div>
                                <div class="article-txt">
                                    <h4><a href="#">Lorem ipsum sit amet</a></h4>
                                    <p>Lorem ipsum dolor sit consectetuer adipiscing elit. Suspendisse in lacis.</p>
                                </div> <!-- /article-txt -->
                            </div> <!-- /article -->

                            <!-- Article -->
                            <div class="article box">
                                <div class="article-img"><img src="tmp/85x63.gif" alt="" /></div>
                                <div class="article-txt">
                                    <h4><a href="#">Lorem ipsum sit amet</a></h4>
                                    <p>Lorem ipsum dolor sit consectetuer adipiscing elit. Suspendisse in lacis.</p>
                                </div> <!-- /article-txt -->
                            </div> <!-- /article -->

                            <!-- Article -->
                            <div class="article box">
                                <div class="article-img"><img src="tmp/85x63.gif" alt="" /></div>
                                <div class="article-txt">
                                    <h4><a href="#">Lorem ipsum sit amet</a></h4>
                                    <p>Lorem ipsum dolor sit consectetuer adipiscing elit. Suspendisse in lacis.</p>
                                </div> <!-- /article-txt -->
                            </div> <!-- /article -->

                        </div> <!-- /col -->
                        
                        <!-- Right column -->
                        <div class="col f-right">

                            <!-- Article -->
                            <div class="article box">
                                <div class="article-img"><img src="tmp/85x63.gif" alt="" /></div>
                                <div class="article-txt">
                                    <h4><a href="#">Lorem ipsum sit amet</a></h4>
                                    <p>Lorem ipsum dolor sit consectetuer adipiscing elit. Suspendisse in lacis.</p>
                                </div> <!-- /article-txt -->
                            </div> <!-- /article -->

                            <!-- Article -->
                            <div class="article box">
                                <div class="article-img"><img src="tmp/85x63.gif" alt="" /></div>
                                <div class="article-txt">
                                    <h4><a href="#">Lorem ipsum sit amet</a></h4>
                                    <p>Lorem ipsum dolor sit consectetuer adipiscing elit. Suspendisse in lacis.</p>
                                </div> <!-- /article-txt -->
                            </div> <!-- /article -->

                            <!-- Article -->
                            <div class="article box">
                                <div class="article-img"><img src="tmp/85x63.gif" alt="" /></div>
                                <div class="article-txt">
                                    <h4><a href="#">Lorem ipsum sit amet</a></h4>
                                    <p>Lorem ipsum dolor sit consectetuer adipiscing elit. Suspendisse in lacis.</p>
                                </div> <!-- /article-txt -->
                            </div> <!-- /article -->

                        </div> <!-- /col -->
                    
                    </div> <!-- /cols5050 -->

                    <p class="nomb t-right"><a href="#" class="more">More articles</a></p>
                
                </div> <!-- /in -->
                
            </div> <!-- /content -->

            <hr class="noscreen" />

            <!-- Aside -->
            <div id="aside">

                <h4 class="title-03">Categories</h4>
                
                <div class="in">
                
                    <ul id="subnav">
                        <li><a href="#">Lorem ipsum sit amet</a></li>
                        <li><a href="#">Lorem ipsum sit amet</a></li>
                        <li class="active"><a href="#">Lorem ipsum sit amet</a></li>
                        <li><a href="#">Lorem ipsum sit amet</a></li>
                        <li><a href="#">Lorem ipsum sit amet</a></li>
                        <li class="last"><a href="#">Lorem ipsum sit amet</a></li>
                    </ul>

                </div> <!-- /in -->
                
                <h4 class="title-04">News</h4>
                
                <div class="in">
                
                    <dl id="news" class="box">
                        <dt>15. 05. 2008</dt>
                        <dd>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <a href="#">Proin scelerisque</a> sem veil. Aliquam erat volutpat.</dd>
                        
                        <dt>15. 05. 2008</dt>
                        <dd>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <a href="#">Proin scelerisque</a> sem veil. Aliquam erat volutpat.</dd>
                        
                        <dt>15. 05. 2008</dt>
                        <dd>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <a href="#">Proin scelerisque</a> sem veil. Aliquam erat volutpat.</dd>
                    </dl>
                    
                    <p class="nomb t-right"><a href="#" class="more">Older news</a></p>
                
                </div> <!-- /in -->

            </div> <!-- /aside -->
            
        </div> <!-- /cols-in -->
    </div> <!-- /cols -->
    
    <!-- Photogallery -->
    <div id="gallery">
    
        <h4 class="title-03 gallery"><a href="#">Photogallery</a></h4>
        
        <div id="gallery-in">

            <p class="t-center nom box">
                <a href="#"><img src="tmp/95x71.gif" alt="" /></a>
                <a href="#"><img src="tmp/95x71.gif" alt="" /></a>
                <a href="#"><img src="tmp/95x71.gif" alt="" /></a>
                <a href="#"><img src="tmp/95x71.gif" alt="" /></a>
                <a href="#"><img src="tmp/95x71.gif" alt="" /></a>
                <a href="#"><img src="tmp/95x71.gif" alt="" /></a>
                <a href="#"><img src="tmp/95x71.gif" alt="" /></a>
                <a href="#" class="last"><img src="tmp/95x71.gif" alt="" /></a>
            </p>

            <div class="separator"></div>

            <div class="box">

                <p class="f-right nom"><a href="#" class="ico-rss">RSS Feed</a></p>

                <p class="f-left nom">Tags: <a href="#">Cars</a>, <a href="#">Football</a>, <a href="#">Baseball</a>, <a href="#">New York</a>, <a href="#">Weddings</a>, <a href="#">Family</a> &hellip;</p>
                
            </div> <!-- /box -->

        </div> <!-- /gallery-in -->
    
    </div> <!-- /gallery -->

    <hr class="noscreen" />
    
    <!-- Footer -->
    <div id="footer" class="box">
    
        <p class="f-right">
            <a href="#" id="ico-print">Print</a>
            <a href="#" id="ico-sitemap">Sitemap</a>
        </p>
        
        <p class="f-left">Copyright &copy; 2008 <a href="#">Your name</a></p>

    </div> <!-- /box -->

</div> <!-- /main -->

<!-- Do you want remove this backlinks? Look at www.nuviotemplates.com/payment.php -->
<p id="copy"><a href="http://www.nuviotemplates.com/">Free web templates</a> presented by <a href="http://www.qartin.cz/">QARTIN</a> &ndash; Our tip: <a href="http://www.thinline.cz/">Webdesign</a>, <a href="http://www.cesky-hosting.cz/">Webhosting</a></p>
<!-- Do you want remove this backlinks? Look at www.nuviotemplates.com/payment.php -->

</body>
</html>
